{{!-- each loop over TitleButton component passing in posts as a single post to the component --}}
<main class="main-content">
  <h2 class="subheading">Posts</h2>
  {{#each posts as |post|}}
    <TitleButton @post={{post}} />
  {{/each}}
</main>
{{yield}}