{{!-- only render ModalInfo component if that particular components display variable is true.
Pass in post as post to render additional info --}}
<div class="button-container">
  <button {{action "revealModal"}} class="title-button">
    <h3 class="post-title">{{post.title}}</h3>
  </button>
  {{#if this.display}}
    <ModalInfo @post={{post}}/>
  {{/if}}
</div>
{{yield}}