/* Global Rules and Variables
==============================
*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

//Fonts
$site-name-font: 'Baloo Bhai', cursive;
$titles-font: 'Righteous', cursive;
$text-font: 'Passion One', cursive;


//Color scheme
$primary-clr: #28283A;
$secondary-clr: #41836E;
$accent-clr: #CC9766;
$standout-clr: #3FD6BC;
$bg-clr: white;