<main class="main-content">
  <h2 class="subheading">Posts</h2>
  {{#each posts as |post|}}
    <TitleButton @post={{post}} />
  {{/each}}
  {{#link-to "index"}}First{{/link-to}}
  {{#link-to "page3"}}Prev{{/link-to}}
  <p>Page 4 of 5</p>
  {{#link-to "page5"}}Next {{/link-to}}
  {{#link-to "page5"}}Last{{/link-to}}
</main>
{{outlet}}